body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin: 0;
    
}
.header{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px 120px;
}
.line-1{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
/* Sub-section 2 of heading */
.line-2{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 50px;
}
.primary-text{
    flex: 1;
}
.primary-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.primary-text p{
    font-size: 18px;
    color: #E5E7EB;
}
.image{
/* flex: 1; */
width: 250px;
height: 250px;
background-color: grey;
border-radius: 50%;
}
button{
    border: 2px solid lightskyblue;
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
}
img{
    border-radius: 50%;
}
.info-main{
    background-color: #F9FAF8;
    padding: 20px 120px;
}
.info{
    border: 2px solid #3882F6; /*delete later*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 25px;
    margin-bottom: 50px;
}
.box-container{
    display: flex;
    justify-content: space-around;
}
.box-1,
.box-2,
.box-3,
.box-4{
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}